<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div class="reg" th:fragment="newsedit(action)">
    <h2>Новости</h2>
    <form name='regForm' th:action="@{/news/add}" th:object="${news}" method='POST'>
        <input type="hidden" th:name="${action}">
        <input type="hidden" th:field="${news.id}">

        <label for="newsType">Тип новостей</label>
        <select class="list" id="newsType" name="newsType" th:field="*{type}">
            <option value="SERVICE" selected>Сервис
            <option value="MEDICINE">Медицина
            <option value="OTHER">Другое
        </select>

        <label for="title">Заголовок</label>
        <input type="text" id="title" name="title" th:field="*{title}" placeholder="заголовок*" required/>
        <span class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error</span>

        <label for="date">Дата</label>
        <input type="date" id="date" name="date" th:field="*{date}" placeholder="дата*" required/>
        <span class="error" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Date error</span>

        <label for="article">Новость</label>
        <textarea name="article" id="article" th:field="*{article}" placeholder="новость*" required></textarea>
        <span class="error" th:if="${#fields.hasErrors('article')}" th:errors="*{article}">Article error</span>

        <!-- TODO:   <form action="/upload" method="post" enctype="multipart/form-data">
                        <input type="file" name="files" multiple>
                        <input type="submit" value="Upload Files">
                     </form>-->

        <span class="error" th:if="${#request.getParameter('error') == 'true'}">Новость уже существует</span>
        <div><input type="submit" name="newssubmit" value="Принять"></div>
    </form>
</div>
</html>