<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div class="reg" th:fragment="serviceedit(action)">
    <h2>Заказы</h2>
    <form name='regForm' th:action="@{/services/add}" th:object="${order}" method='POST'>
        <input type="hidden" th:name="${action}">
        <input type="hidden" th:field="${order.id}">

        <label for="expireDate">Дата окончания</label>
        <input type="date" id="expireDate" name="expireDate" th:field="*{expireDate}" placeholder="дата*" required/>
        <span class="error" th:if="${#fields.hasErrors('expireDate')}" th:errors="*{expireDate}">Expire date error</span>

        <label for="description">Описание</label>
        <textarea name="description" id="description" th:field="*{description}" placeholder="описание*" required></textarea>
        <span class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description error</span>

        <span class="error" th:if="${#request.getParameter('error') == 'true'}">Сервис уже существует</span>
        <div><input type="submit" name="apply" value="Принять"></div>
    </form>
</div>
</html>