<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header (requireData = @{/js/util})"></head>
<body>
<div id="wrapper">
    <div lang="ru" th:replace="fragments/navigation :: navigation"></div>

    <div class="reg">
        <h2>Регистрация</h2>
        <form name='regForm' th:action="@{/users/nurseregistration}" th:object="${nurse}" method='POST'>
            <label for="username">Логин*</label>
            <input type="text" id="username" name="username" th:field="*{webIdentity.username}" placeholder="логин*" required/>
            <span class="error" th:if="${#fields.hasErrors('webIdentity.username')}" th:errors="*{webIdentity.username}">Username error</span>

            <label for="password">Пароль*</label>
            <input type="text" id="password" name="password" th:field="*{webIdentity.unencryptedPassword}" placeholder="пароль*" required/>
            <span class="error" th:if="${#fields.hasErrors('webIdentity.unencryptedPassword')}" th:errors="*{webIdentity.unencryptedPassword}">Password error</span>

            <label for="email">Эл.почта*</label>
            <input type="email" id="email" name="email" th:field="*{webIdentity.email}" placeholder="эл.почта*" required/>
            <span class="error" th:if="${#fields.hasErrors('webIdentity.email')}" th:errors="*{webIdentity.email}">Email error</span>

            <label for="telephone">Телефон</label>
            <input type="text" id="telephone" name="telephone" th:field="*{webIdentity.telephone}" placeholder="телефон"/>
            <span class="error" th:if="${#fields.hasErrors('webIdentity.telephone')}" th:errors="*{webIdentity.telephone}">Telephone error</span>

            <label for="address">Адрес*</label>
            <input type="text" id="address" name="address" th:field="*{webIdentity.address}" placeholder="адрес*"/>
            <span class="error" th:if="${#fields.hasErrors('webIdentity.address')}" th:errors="*{webIdentity.address}">Address error</span>

            <label for="name">Имя*</label>
            <input type="text" id="name" name="name" th:field="*{webIdentity.identity.name}" placeholder="имя*" required/>
            <span class="error" th:if="${#fields.hasErrors('webIdentity.identity.name')}" th:errors="*{webIdentity.identity.name}">Name error</span>

            <!-- TODO:   <form action="/upload" method="post" enctype="multipart/form-data">
                            <input type="file" name="files" multiple>
                            <input type="submit" value="Upload Files">
                         </form>-->

            <label for="surname">Фамилия</label>
            <input type="text" id="surname" name="surname" th:field="*{webIdentity.identity.surname}" placeholder="фамилия"/>
            <span class="error" th:if="${#fields.hasErrors('webIdentity.identity.surname')}" th:errors="*{webIdentity.identity.surname}">Surname error</span>

            <label for="age">Возраст</label>
            <input type="number" id="age" name="age" th:field="*{webIdentity.identity.age}" placeholder="возраст"/>
            <span class="error" th:if="${#fields.hasErrors('webIdentity.identity.age')}" th:errors="*{webIdentity.identity.age}">Age error</span>

            <label for="experience">Опыт*</label>
            <input type="number" id="experience" name="experience" th:field="*{experience}" placeholder="опыт*" required/>
            <span class="error" th:if="${#fields.hasErrors('experience')}" th:errors="*{experience}">Experience error</span>

            <label for="responsibility">Обязанность*</label>
            <input type="text" id="responsibility" name="responsibility" th:field="*{responsibility.name}" placeholder="обязанность*" required/>
            <span class="error" th:if="${#fields.hasErrors('responsibility.name')}" th:errors="*{responsibility.name}">Responsibility error</span>

            <span class="error" th:if="${#request.getParameter('error') == 'true'}">Пользователь уже существует</span>
            <div><input type="submit" name="user" value="Зарегистрироваться"></div>
        </form>
    </div>

    <div lang="ru" th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>