<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header (requireData = @{/js/util})"></head>
<body>
<div id="wrapper">
    <div lang="ru" th:replace="fragments/navigation :: navigation"></div>

    <div class="reg">
        <h2>Регистрация</h2>
        <form name='regForm' th:action="@{/users/registration}" th:object="${webIdentity}" method='POST'>
            <label for="username">Логин</label>
            <input type="text" id="username" name="username" th:field="*{username}" placeholder="логин*" required/>
            <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</span>

            <label for="password">Пароль</label>
            <input type="text" id="password" name="password" th:field="*{unencryptedPassword}" placeholder="пароль*" required/>
            <span class="error" th:if="${#fields.hasErrors('unencryptedPassword')}" th:errors="*{unencryptedPassword}">Password error</span>

            <label for="email">Эл.почта</label>
            <input type="email" id="email" name="email" th:field="*{email}" placeholder="эл.почта*" required/>
            <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</span>

            <label for="telephone">Телефон</label>
            <input type="text" id="telephone" name="telephone" th:field="*{telephone}" placeholder="телефон"/>
            <span class="error" th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}">Telephone error</span>

            <label for="address">Адрес</label>
            <input type="text" id="address" name="address" th:field="*{address}" placeholder="адрес*"/>
            <span class="error" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address error</span>

            <label for="name">Имя</label>
            <input type="text" id="name" name="name" th:field="*{identity.name}" placeholder="имя*" required/>
            <span class="error" th:if="${#fields.hasErrors('identity.name')}" th:errors="*{identity.name}">Name error</span>

            <!-- TODO:   <form action="/upload" method="post" enctype="multipart/form-data">
                            <input type="file" name="files" multiple>
                            <input type="submit" value="Upload Files">
                         </form>-->

            <label for="surname">Фамилия</label>
            <input type="text" id="surname" name="surname" th:field="*{identity.surname}" placeholder="фамилия"/>
            <span class="error" th:if="${#fields.hasErrors('identity.surname')}" th:errors="*{identity.surname}">Surname error</span>

            <label for="age">Возраст</label>
            <input type="number" id="age" name="age" th:field="*{identity.age}" placeholder="возраст"/>
            <span class="error" th:if="${#fields.hasErrors('identity.age')}" th:errors="*{identity.age}">Age error</span>

            <span class="error" th:if="${#request.getParameter('error') == 'true'}">Пользователь уже существует</span>
            <div><input type="submit" name="user" value="Зарегистрироваться"></div>
        </form>
    </div>

    <div lang="ru" th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>