<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header (requireData = @{/js/about})"></head>
<body>
<div id="wrapper">
    <div lang="ru" th:replace="fragments/navigation :: navigation"></div>

    <aside class="founder">
        <h2>Основатель</h2>
        <figure>
            <img th:src="@{/img/founder.jpg}" alt="founder">
            <figcaption><a target="_blank" href="https://vk.com/markovskypavel">Марковский Павел Викторович</a><span>основатель сервиса</span></figcaption>
        </figure>
    </aside>

    <section class="about">
        <p>Марковский Павел Викторович родился 28 июля 1998 года в Минске. С отличием закончил школу и на данный момент обучается на 4 курсе в БГУИР, учится на программиста.</p>
        <p>Павел с детства имел множество увлечений и занятий. На данный момент увлекается видеомонтажом и кино- и мультфильм индустрией и экстремальными видами спорта, такими как сноубординг и скейтбординг. Ещё с детства был помешан на автомобилях, запоминал все автомобильные характеристики с автомобильных журналов.</p>
        <p>Данный сайт создан основателем в 2018 году как система поддержки сервисов предоставления услуг, а именно помощь пожилым людям. Наши высококвалифицированные специалисты качественно реализуют любые потребности, а также подскажут что конкретно Вам необходимо.</p>
        <p>Мы ценим каждого клиента и готовы сделать всё, чтобы реализовать Ваши потребности максимально качественно для нашего дальнейшего сотрудничества!</p>
        <p>Ждём Ваших заявок в нашем сервисе, будем творить добро ВМЕСТЕ :)</p>
    </section>

    <div lang="ru" th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>