<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header (requireData = @{/js/home})"></head>
<body>
<div id="wrapper">
    <div lang="ru" th:replace="fragments/navigation :: navigation"></div>

    <div lang="ru" th:replace="fragments/slider :: slider"></div>

    <section>
        <blockquote>
            <p>ЧТО МЫ ПРЕДЛАГАЕМ?</p>
        </blockquote>
        <div class="info">
            <div class="info-row">
                <figure>
                    <img th:src="@{/img/info11.png}" alt="11">
                    <figcaption>Работаем по всей стране</figcaption>
                </figure>
                <figure>
                    <img th:src="@{/img/info12.png}" alt="12">
                    <figcaption>Информативное общение</figcaption>
                </figure>
                <figure>
                    <img th:src="@{/img/info13.png}" alt="13">
                    <figcaption>Быстрый отклик</figcaption>
                </figure>
            </div>
            <div class="info-row">
                <figure>
                    <img th:src="@{/img/info21.png}" alt="21">
                    <figcaption>Квалифицированные специалисты</figcaption>
                </figure>
                <figure>
                    <img th:src="@{/img/info22.png}" alt="22">
                    <figcaption>Качественные взаимоотношения</figcaption>
                </figure>
            </div>
        </div>

        <h2>ПОСЛЕДНИЕ НОВОСТИ</h2>
        <div id="home"></div>

<!--        <div class="news" id="Stance">
            <h2><u>STANCE</u>: ЕЗДИМ НИЗКО</h2>
            <p>Stance - это вся культура низких машин.</p>
            <p>Stance (в переводе с англ. "посадка") — все чаще применяется к автомобилям относительно клиренса (дорожного просвета) и заменяет слово Drop (в переводе с англ. "падение"), которым обозначается заниженный и уроненный на самое брюхо автомобиль (дропнутый).</p>
            <p>К ней относятся VW, ВАЗ, Opel, BMW и все остальные марки и модели автомобилей, выдержанные в общих традициях- правильные диски и посадка, а также наличие изюминки, позволяющей автомобилю отличаться от себе подобных (например, редкие OEM-фары от Golf MK2 Rallye на Jetta MK2 и т.д.). Так что неважно, Daewoo Lanos это или же Audi A6. Главное то, чтобы машины были стильными!</p>
            <div class="news-pictures">
                <figure>
                    <img src="${pageContext.request.contextPath}/resource/news11.jpg" title="DC Team" alt="news11">
                </figure>
                <figure>
                    <img src="${pageContext.request.contextPath}/resource/news12.jpg" title="Map of tour" alt="news12">
                </figure>
            </div>
        </div>
        <div class="news" id="Drift">
            <h2><u>DRIFT</u>: БОКОМ С РОЖДЕНИЯ</h2>
            <p>В автомобиле для дрифта особое внимание уделяется равномерному распределению крутящего момента по оборотам. Автомобили облегчаются и подвергаются тюнингу, в частности форсируется двигатель, заваривается задний дифференциал или ставится блокировка LSD (limited slip differential).</p>
            <p>Классическими автомобилями для дрифта являются: Nissan 240 SX, Nissan Silvia, Nissan 180SX, Nissan Skyline, Nissan Laurel, Mazda RX-7(Mazda RX-8), Toyota Supra, Toyota Alteza, Toyota Chaser(все "Mark" образные) и Toyota AE86, а также её наследница Toyota GT86.</p>
            <p>В основном предпочтение отдаётся автомобилям с приводом на задние колеса, но существуют примеры, когда машину под дрифт готовят изначально полноприводной (Subaru Impreza, Mitsubishi Lancer Evolution, Nissan Skyline GT-R), избавляя от системы привода передних колес.</p>
            <div class="news-pictures">
                <figure>
                    <img src="${pageContext.request.contextPath}/resource/news21.jpg" title="Heli in mountains" alt="news21">
                </figure>
                <figure>
                    <img src="${pageContext.request.contextPath}/resource/news22.jpg" title="Mountains" alt="news22">
                </figure>
            </div>
        </div>-->
    </section>

    <!--TODO: Inifinite load-->
    <div lang="ru" th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>